[2017-04-25 12:27] DominiqueMakowski opened #1 "ECG: RSA (respiratory sinus arrhythmia)"
Aim:
- Compute RSA

[2017-04-25 12:28] DominiqueMakowski opened #2 "ECG: Entropy Features"
**Aim**
- Add automatic entropy computation for RRi

[2017-04-25 12:30] DominiqueMakowski opened #3 "EMG: adapt the function for multichannel processing"
**Aim**:
- Be able to pass a dataframe containing one or more EMG channels (corresponding to different muscles).
- Get a processed dataframe including separate (and joint?) processing for each initial channel

[2017-04-25 12:36] DominiqueMakowski opened #4 "Bio: Examples and Tutorials"
**Aim**:
- Create super tutorials and examples

[2017-04-25 13:05] DominiqueMakowski opened #5 "ECG: fix HRV for different sampling rates"
**aim**:
- Allow the HRV computation for sampling rates different from 1000

[2017-04-26 14:43] DominiqueMakowski opened #6 "ECG: Localize Q and T waves"
This would be useful for being able to characterize periods of systole (R-T interval) and diastole. More and more papers ([example](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5247580/)) suggest that the cardiac phase has an impact on the processing of a stimulus.

We could then add a column within the processed dataframe corresponding to an array of zeros and ones, called for example 'Systole' t

[2017-04-28 16:59] DominiqueMakowski commented on #6
Looking at biosppy's R peak detector, I found [this line](https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/ecg.py#L983) that says: "if current slope is smaller than half the previous one, then it is a T-wave".

However, the code's a bit to complex for understanding how to extract them.

[2017-04-28 17:24] DominiqueMakowski commented on #6
If we find a way to localize T waves, we could also localize the Q wave, then extract the QT intervals. This would be a nice feature for medical studies and assessments (the QT interval being an important feature of cardiac wellness).

[2017-04-28 18:08] rhenanbartels commented on #6
Maybe we can clone the repository and change the code to return  a list where the algorithm found a T-wave. I will try this here with a well-behaved ecg signal

[2017-05-02 16:42] DominiqueMakowski commented on #6
might be useful someday: http://ieeexplore.ieee.org/abstract/document/1275572/

[2017-05-09 10:05] DominiqueMakowski commented on #1
Here I was, thinking about the zero crossings again, and then I realized that it does not indicate the proper locations of respiratory cycles. From what I understood, a respiratory cycle is divided into 2 phases: inspiration and expiration. The former starts when the signal is a its lowest and the second when at its highest. Thus, a rsp cycle starts and ends at every lowest points of the signal.

[2017-05-09 12:54] DominiqueMakowski commented on #1
I added the [`rsp_process()`](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_rsp.py) function (previously included in `ecg_process`). This computes the proper cycles onsets (and more: a "continuous" phase (inspiration and expiration) marker (see plot below), some respiratory variability indices (to be developped) and such).

![figure_1](https://cloud.githubusercontent.

[2017-05-09 14:15] DominiqueMakowski commented on #1
Ok, I've reworked the [RSA function](https://github.com/neuropsychology/NeuroKit.py/blob/master/examples/UnderDev/RSA/bio_rsa_dev.py). It extracts several indices (mean RSA, variability, and the unfamous continuous RSA signal 😛)

We can then plot the RSA evolution (see the purple line).

![figure_1](https://cloud.githubusercontent.com/assets/8875533/25854938/072f5d90-34d2-11e7-8778-d659871f51f9.pn

[2017-05-09 14:45] DominiqueMakowski commented on #1
Done: [`ecg_process`](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_ecg.py#L251)

Tell me what do you think

[2017-05-10 12:03] DominiqueMakowski opened #7 "Increase code test coverage"
Increase and enhance testing.

[2017-05-10 12:05] DominiqueMakowski commented on #3
Done.

[2017-05-10 12:05] #3 closed

[2017-05-17 11:12] DominiqueMakowski opened #8 "ECG: signal quality check"
automated signal quality check

[2017-05-19 09:10] DominiqueMakowski commented on #8
Done - but need testing

[2017-05-19 09:10] #8 closed

[2017-05-19 09:10] #1 closed

[2017-05-19 09:11] DominiqueMakowski commented on #2
Done - need validation

[2017-05-19 09:11] #2 closed

[2017-05-19 09:11] DominiqueMakowski commented on #5
Done - need validation

[2017-05-19 09:11] #5 closed

[2017-05-19 11:58] DominiqueMakowski commented on #6
Done - Needs validation.
Note that QT interval length computation remains impossible as it uses the beginning of both waves, and I managed to get the peak location 😢

[2017-05-19 11:58] #6 closed

[2017-06-07 21:56] stjep opened #9 "numpy has no attribute 'norm'"
Trying to work through the [BioSignals processing in Python](http://neurokit.readthedocs.io/en/latest/tutorials/Bio.html) tutorial, but didn't make it far because I hit the above error when trying to run:

`bio = nk.bio_process(ecg=df["ECG"], rsp=df["RSP"], eda=df["EDA"])`

The full Traceback from the IPython console is:

`Traceback (most recent call last):`

`  File "<ipython-input-280-be922da6b2

[2017-06-23 09:06] bbonik opened #10 "HRV has an algorithmic issue - ecg_hrv"
There is an omission in the heart rate variability calculations in function ecg_hrv(...) that may potentially affect the results, especially for the spectral domain methods.

The calculation of HRV is based on the RR intervals (rri variable in the code). However, rri is indexed at every heartbeat, so it is not uniformly sampled. A common practice is to interpolate the original rri signal and then

[2017-06-23 09:24] DominiqueMakowski commented on #9
@stjep, sorry for the delay of my answer, I was away 😄

This error is, indeed a bit weird, and seems related to the nolds package. Have you try reinstalling the nolds package directly from its github repo?

`pip uninstall nolds`
`pip install https://github.com/CSchoel/nolds/zipball/master/`

If it still don't work, I'll have a deeper look within `nolds` code 😉

[2017-06-23 09:37] DominiqueMakowski commented on #10
@bbonik Thanks a lot for noticing this issue and suggesting improvements!

So I think you're reffering to these lines within [ecg_hrv](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_ecg.py#L474):

[code]

If i  understand you correctly, you suggest to change the order of the steps, such as:

[code]

Would that be better?
Again, thanks for your comment 😄

[2017-06-24 16:31] DominiqueMakowski commented on #10
Alright, so following your advices I've reworked the RRis preprocessing a bit:

[code]
Basically it is a three steps approach, 1) Standardize the scale (to be in milliseconds), 2) finding the artifacts (statistically and physiologically) and 3) artifacts treatment with a new parameter to control if interpolation is used or not. Indeed, some papers ([this one](https://www.ncbi.nlm.nih.gov/pubmed/75

[2017-06-25 03:07] bbonik commented on #10
Sorry. I will be able to give a more comprehensive suggestion on Tuesday,
when I will return to the office.

Thnx

V

On Sun, Jun 25, 2017 at 12:31 AM, Dominique Makowski <
notifications@github.com> wrote:

[2017-06-27 05:49] DominiqueMakowski commented on #9
@stjep yesterday the creator of nolds pushed the last version on pypi. So now you can just directly uninstall and reinstall nolds from pypi and it should work. Let me know if it's the case so I can close this issue.

[2017-06-27 10:31] Raphael-Rissler opened #11 "IndexError: arrays used as indices must be of integer (or boolean) type"
Hello there,

I try to analyze ECG and EDA data with your gr8 tool. Unfortunately I ran into a problem.
What I've done so far:
1. Downloaded working winpython distrib. as outlined here (http://neurokit.readthedocs.io/en/latest/tutorials/Python.html)
2.  Run the following Code (see attached file for review input data
[Data.xlsx](https://github.com/neuropsychology/NeuroKit.py/files/1104982/Data.xlsx

[2017-06-27 15:41] DominiqueMakowski commented on #11
@Raphael-Rissler, could you send me this file? You can either attach it here or send it to me (dom.makowski@gmail.com) if you don't want it to go public. I'll try to figure out what's going on 😉

[2017-06-27 15:49] DominiqueMakowski commented on #11
Sorry I did not see your file, I'll have a look this evening or tomorrow!

[2017-06-27 17:09] DominiqueMakowski commented on #11
@Raphael-Rissler The excel file you provided seems to work just fine (see attached picture).
Maybe something went wrong when you converted it to a csv. If the separators are ";", are you sure decimal delimiters are "." and not ","? If you do not succeed to fix it, could you send me the csv with which neurokit throws an error. Thanks!
![sans titre](https://user-images.githubusercontent.com/8875533/

[2017-06-28 04:09] bbonik commented on #10
I will try to explain what I mean with some code. I specifically use different names for the variables. I substitute rri with RRIbeat to highlight that it is indexed on the heart beats. Later I compute the RRIs as a function of time (not as a function of heartbeat). This is an important step for spectral HRV methods. Same approach is also used in the hrv toolbox.

      % assumed inputs
      % R[

[2017-06-28 07:05] DominiqueMakowski commented on #10
@bbonik First of all, let me say thank you for  taking the time to write some well-documented code, it was a pleasure  to read it (even if the most mathematical bits (the spline fitting) remain (and will remain) quite nebulous for me 😆 ).

Now I understand what you mean by "as a function of time", as a sort of continuous signal. I didn't get that the first time.

Well your code works nice, I sugge

[2017-06-29 02:58] bbonik commented on #10
Hi. Some things to take note:

1. This type HRV signal is used mainly for the frequency domain analysis. Not necessarily for the time domain analysis. This means that you may have 2 HRV signals. One for time domain analysis (rri) one for the frequency domain analysis (rri_new)
2. The rri signal will always be 1 beat shorter, since it is computed as a difference between heart beats.
3. After the ou

[2017-06-29 19:09] stjep commented on #9
I upgraded the nolds package and that has indeed fixed this particular. Running that same command gets me a new bug, for which I've created a new issue (I thought it'd be neater, and in case anyone else runs into the same issue).

[2017-06-29 19:09] #9 closed

[2017-06-29 19:16] stjep opened #12 "Data must be 1-dimensional"
This is a follow-on from issue #9.

When following the steps in the [tutorial](http://neurokit.readthedocs.io/en/latest/tutorials/Bio.html), I'm still stuck on the ecg process line (`bio = nk.bio_process(ecg=df["ECG"], rsp=df["RSP"], eda=df["EDA"])`).

Full traceback:

[code]

[2017-06-29 20:20] DominiqueMakowski commented on #12
@stjep I've just tried it with the minimal following code and the `bio_process()` works at my place.

[code]
Here's a few things:
- The biosignals tutorial is somehow out-dated (I've made several (altough not *that* major) changes to the API (mainly variable names and stuff) and I didn't have the time to refactor the tutorial. I'm planning to do it within the next weeks or days). Meanwhile, do not

[2017-06-29 21:00] stjep commented on #12
Your are correct that I did miss the update, and installing the current master fixed this issue.

I'm just getting my feet wet with ECG, so I really appreciate your quick and extremely helpful replies. I'll keep slowly playing with NeuroKit, and I'm tracking the repo so Github should (theoretically) notify me when new versions are pushed.

Seeing as how I'm staring out new with NeuroKit, let me kn

[2017-07-04 13:12] DominiqueMakowski commented on #10
@bbonik I've made the suggested changes. It's way better now, although some HRV indices computation have to be checked by an expert. I'm closing this issue, as the main topic has been addressed. Again, thanks A LOT. Feel free to make any other comments/contributions!

[2017-07-04 13:12] #10 closed

[2017-07-05 11:58] DominiqueMakowski commented on #12
@stjep How's your biosginals exploration going? Was neurokit helpful?
I've managed to rework the [tutorial](http://neurokit.readthedocs.io/en/latest/tutorials/Bio.html) a bit, let me know if you'd like to see more stuff 😉

[2017-07-05 11:58] #12 closed

[2017-07-05 11:58] DominiqueMakowski commented on #4
Done (a bit).

[2017-07-05 11:58] #4 closed

[2017-07-06 13:15] stjep commented on #12
@DominiqueMakowski, made my way through the tutorial without any problems, and am about to give my own data a try 🤞

[2017-07-06 15:34] stjep opened #14 "Use non-standard filter for ECG"
This may very well be a silly question because I haven't looked through your thoroughly enough (or because I'm missing something painfully obvious), so please bear with me.

From what I have been able to figure out by quickly scanning your code, you're using biosppy's filtering routine to filter ECG data prior to HRV/etc extraction. The biosppy filter, in turn, is set to a default bandpass filter

[2017-07-06 15:55] DominiqueMakowski commented on #14
That's actually a pretty good question. As I'm not an expert in filtering and stuff, the suggestions I'm about to make might be not relevant. However, I see a quick/messy way and a neat way of doing that. For the messy fix, maybe you could apply the desired filter (if it's more stringent than biosppy's one) after, or before running neurokit's routines?

As for the "clean" ways, these might be:
1)

[2017-07-06 17:28] stjep commented on #14
As far as I can tell, biosppy implements it's filtering here: [https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/ecg.py#L71](https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/ecg.py#L71)

The parameters that are supported are listed here: [https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/tools.py#L247](https://github.com/PIA-Group/BioSPPy/blob/master/b

[2017-07-06 17:33] DominiqueMakowski commented on #14
Would you like do give it a try by attemtping at a first commit :)? I think neurokit would profit from more flexibility and control. Btw, if you find some references or reasons about the good default parameters, let me know, we could include them in the documentation.

[2017-07-06 17:36] stjep commented on #14
I'll give it a try and will let you know if I get nowhere.

I'll also reach out to the biosppy devs. It'd be good to know why they chose those settings, or what the implications are if you're not using a [single-channel Lead I setup](https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/ecg.py#L7)…

[2017-07-06 18:15] AnteriorInsula opened #15 "Peak-valley RSA?"
Hi!  Thanks for providing this toolkit.

I have a question about the way NeuroKit can score RSA (and I'm very new to Python as well as psychophysiology, so I apologize if the answer to this question is overly obvious).  Because of the short interval over which I'm recording ECG (30 seconds per epoch), I'd like to use the peak-valley method to score RSA (as per Eckberg, 1983: http://jap.physiology.

[2017-07-07 06:35] DominiqueMakowski commented on #15
@AnteriorInsula My main reference when I built the RSA function was [Lewis 2012](https://www.ncbi.nlm.nih.gov/pubmed/22138367) that compares three methods, i.e. the peak-to-through (P2T), the High Frequency Heart Rate Variability (HF) and the Porges–Bohrer method.

Altough the latter presented several advantages, I did not manage do implement it yet (as I'm not an expert in signal processing). The

[2017-07-07 06:36] #7 closed

[2017-07-07 09:41] capcarr commented on #14
Hi, I'm BioSPPy's maintainer

The default parameters for ECG filtering were chosen because we mainly acquire ECG from the hands, without using any gel or adhesive. Therefore, the signal is significantly more noisy than clinical-grade acquisitions, in particular regarding baseline wander, thus the use of the 3 Hz cut-off. This was a compromise between effectively removing the noise and keeping the

[2017-07-07 09:50] DominiqueMakowski commented on #14
@capcarr Thanks for your precisions! @stjep deconstruction is the right way to go then :) I've created a new branch called [ecg_filtering](https://github.com/neuropsychology/NeuroKit.py/tree/ecg_filtering) to which we can safely commit the changes. Once it's working, we'll merge it to master.

[2017-07-08 14:12] DominiqueMakowski commented on #14
@stjep I've found some free time to make some progress on this feature 😸 . I created the [`ecg_preprocess`](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_ecg.py#L202) function that desconstructs the high-level biosppy.ecg.ecg, and then pulled out the filtering parameters up to ecg_process and bio_process. Could you run some tests to see if it works with other filter p

[2017-07-10 14:18] stjep commented on #14
@DominiqueMakowski, I started tinkering on Friday, but didn't get very far (and what I was thinking isn't as elegant as your code).

I'm going to play around with it today and tomorrow and will report back then.

I'll also add to the code some pointers on where to go to find out how these filters work. I no expertise when it comes to filter design, but it is something that a lot of people care abo

[2017-07-10 17:04] DominiqueMakowski commented on #14
@stjep We could actually further open the preprocessing function to expose, like you said, the windowing and order parameters. Also, maybe allow the user to [skip some steps](https://github.com/PIA-Group/BioSPPy/issues/28#issuecomment-314141632) like filtering or so (I'm not sure it makes sense though)? I like the idea of having both good and justified defaults and, at the same time, the possibili

[2017-07-10 17:19] stjep commented on #14
A lot of data (maybe most?) will be collected with hardware filters applied as the data is collected. This data could be clean enough to allow for analysis without further digital filtering. My understanding is that, generally, you want to keep filtering to a needs basis because filters change the data (this is based on what little I know about EEG). So, it would allow for greater flexibility for

[2017-07-18 21:59] AnteriorInsula opened #25 "ECG_R_peaks"
Hi Dominique!

First of all, thanks for answering my earlier question about P2T RSA - you have already been super helpful!!

I have another question now.  I've been running my Acqknowledge file through Neurokit trying to extra ECG data, and it seems to be working really well except for the ECG_R_peaks column, which just outputted only nans.  Everything else seems to be doing what it's supposed to

[2017-07-18 22:13] DominiqueMakowski commented on #25
@AnteriorInsula Glad the package is helpful to someone ;)

As for the R peaks, basically you have two things:
1) you have the location of each rpeak within processed_ecg["ECG"]["R_Peaks"], which gives you a list with all the r peaks locations. You can try to plot to see if they are correct (if not, you might want to change the segmenter) by doing:
[code]
2) The ECG_R_peaks column contains, indeed,

[2017-07-18 22:13] #15 closed

[2017-07-21 15:46] AnteriorInsula opened #26 "Frequency output"
Hi!  Sorry to keep asking questions - I think once I get more familiar with the NeuroKit/BioSPPy environment, I'll be able to start figuring them out on my own more.  But for now...

I'm trying to get the power in different frequency bands of HRV.  In the ECG output, I see columns labeled ECG_HRV_HF, ECG_HRV_LF, etc., with a value for each index.  I assume these correspond to high frequency, low f

[2017-07-21 15:47] #25 closed

[2017-07-21 15:55] DominiqueMakowski commented on #26
Alright, so for this part, I'm not sure about what I'm saying, since I'm no expert of HRV nor signal processing. First of all, note that this part changed recently, so make sure you have version 0.1.8 installed.
Then, you can find all the details about HRV computation [here](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_ecg.py#L569). Basically it computes power spectr

[2017-07-21 15:56] AnteriorInsula commented on #26
Thanks Dominique!!!

[2017-07-31 06:38] Raphael-Rissler commented on #11
Hello,

first sorry for my late response, was travling... :)
I doublechecked again but the error occured again in some other files. I've send you a CSV, which I cannot analyse unfortunately due to the error mentioned above.

[2_a02_Bioplux.zip](https://github.com/neuropsychology/NeuroKit.py/files/1186593/2_a02_Bioplux.zip)

[2017-07-31 07:03] Raphael-Rissler opened #27 "Electrode (+) (-) mixup - problem for neurokit?"
Hello,

I've a little question about neuroKit. If someone mixed up the (+) and (-) placement of the electrodes in ECG measurement, which means, you have a negative peaked heart beats (see picture below) instead of a positive peaked.

Now the question is: Does this affect the data analysis and is the output of your gr8 tool still valid in such a case?

![negative_peak_heart_beat](https://user-image

[2017-08-07 07:50] DominiqueMakowski commented on #11
@Raphael-Rissler I will answer also your other issue (#27) here as I think the problem is related.

So, I did the following:

[code]

While the preprocessing works, the "ecg_process" function does not (*ie* takes much longer than it should). This might be caused, indeed, by the polarity reversal you mentionned in #27. However, many things (including HRV, RSA, heart rate, and stuff) rely on the R p

[2017-08-07 07:50] DominiqueMakowski commented on #27
See #11

[2017-08-07 07:50] #27 closed

[2017-08-07 14:03] #26 closed

[2017-08-24 11:40] bobchicken opened #32 "reading data from .acq"
Hi

I'm trying to read my data from Acqknowledge file but it doesn't look right at all. It seems like it displays values for only one channel, where there are in fact three. Is there something I can do to get it load properly? I just find nothing works on the Acqknowledge data - even the plots look wrong, displaying the signal for a few of the recorded minutes. I'm completely new to this so apolog

[2017-08-24 11:47] DominiqueMakowski commented on #32
@bobchicken Could you send me one acq file by mail at dom.mak19@gmail.com? I'll try to fix your problem

[2017-08-24 12:44] bobchicken commented on #32
Thanks a lot Dominique, files sent.

[2017-09-26 15:12] bbertoldi opened #36 "HRV not defined"
When trying to extract regular HRV indices, I am getting this error message:

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-8-619ff25e0114> in <module>()
----> 1 print(hrv.keys()) #

NameError: name 'hrv' is not defined

[2017-09-26 15:19] DominiqueMakowski commented on #36
@bbertoldi It depends on how you named the object returned by the `ecg_process()` function. Could you paste the code above that?

[2017-09-26 15:40] bbertoldi commented on #36
The only code I have above that is this one:

import neurokit as nk

data, sampling_rate = nk.read_acqknowledge("Zall_Baseline.acq", return_sampling_rate=True)

data[0:50000].plot()  # Plot a subset of raw data

processed_ecg = nk.ecg_process(ecg=data["ECG - ECG100C"], sampling_rate=sampling_rate)
nk.z_score(processed_ecg["df"][0:50000]).plot()

# Plot spectral HRV on a subset
nk.z_score(processed

[2017-09-27 06:34] DominiqueMakowski commented on #36
@bbertoldi

Here's a minimal code to check what HRV indices are available and extract (print) one of them.

[code]
Then again, in depends on what you want to do with these indices.

[2017-09-27 14:05] #14 closed

[2017-09-27 14:06] DominiqueMakowski commented on #32
@bobchicken did it work?

[2017-09-27 14:22] bobchicken commented on #32
Hi Dominique - sorry for the late reply I have been away from work for a
while! Thank you so much  for sending that over. It did work, however still
displaying only one channel. I'm going to work with a new Port next week so
will see how that goes.

Thanks a lot!

K

On 27 Sep 2017 15:09, "Dominique Makowski" <notifications@github.com> wrote:

[2017-09-27 15:04] #32 closed

[2017-10-10 10:43] #36 closed

[2017-10-21 06:57] Qiriro opened #37 "Paper reference"
Thanks a lot for the great work that was put into implementing this library. I have been reading the source code related to the respiration signal processing (the [bio_rsp.py](https://github.com/Qiriro/NeuroKit.py/blob/master/neurokit/bio/bio_rsp.py)) but I could not fully understand how the algorithms were implemented. If possible, would you please provide a paper or any other reference this work

[2017-10-24 07:45] DominiqueMakowski commented on #37
Dear @Qiriro could you be a bit more precise; what function or lines are nebulous to you? I'll try to explain them as best as I can.

In general, NeuroKit is not published yet, and there are (to my knowledge) no papers using it for RSP (but the package is quite recent). Again, if you could tell me what function/lines you don't understand, I'll try to give you, if possible, some reference.

cheers

[2017-10-24 08:49] Qiriro commented on #37
Dear @DominiqueMakowski  thanks a lot for your reply and your assistance. I do understand the code. I, however, needed to know if there is any published paper that would give me more information about why you wrote the algorithms the way you did. For example, when calculating the respiration cycles and other respiratory related changes, did you use any published algorithms or it is completely base

[2017-10-24 09:26] DominiqueMakowski commented on #37
Unfortunately no, it is mostly based on my own unpublished algorithms. However, respiration cycles are quite straightforward as they correspond to the "raise" part of the signal (inspiration) and the descending part for expiration.

Feel free to run some validation tests on some data and compare it with whatever other softwares (and if you do that, please let us know of the results :), we could ad

[2017-10-24 09:26] #37 closed

[2017-11-07 16:55] Eichhof opened #38 "Number of SCR peaks"
Hi,

The EDA stuff works but unfortunately I’m getting only peaks for 50% of my stimulus (10s pictures), i.e. in 50% of these 10s windows (picture duration) there is no peak. I have to evaluate a bit more to see the reason behind it (it seems a bit strange to me). Do you have any idea why this happens?

[2017-11-07 17:07] Eichhof opened #39 "Timings of RR-intervals with polar H10 chest strap"
Hi,

Regarding HRV, I’m using the polar H10 chest strap which works in general very well but I have faced a weird behavior. For example, I have observed the following values:

[code]

The first column is the timestamp in milliseconds (in UNIX time). The second column is the corresponding RR-interval

The polar device sends me one package around every second (with a RR-interval value). As you can s

[2017-11-07 17:33] Eichhof opened #40 "Sampling rate for ecg_hrv"
Hi,

I have a series of RR-intervals (which I have retrieved from Polar H10 chest strap)

The ecg_hrv function from neurokit, that computes HRV features, needs R peaks location as input. The step, in theory, before RRi computation. So we have to somehow transform the RRi data back into R peaks location. We can do it by computing the cumulative sum ` rpeaks = list(np.cumsum(rri)) `.

`rri_results =

[2017-11-08 11:54] DominiqueMakowski commented on #38
It's indeed normal (and almost reassuring) to not have peaks for all of your stimuli, as the algorithm that finds the peaks is a bit more complex than only "taking the max value of a particular window". To be considered a true SCR peak, a peak must followed a certain pattern (see the [eda_scr](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_eda.py#L328) function for mor

[2017-11-08 11:59] DominiqueMakowski commented on #40
The sampling rate refers, here, to the unit in which your R peaks location are expressed.

For example, if you have a list of R peaks location such as `[5, 6.2, 7.85, 9.01, ...]`, it is likely to be expressed in seconds (sampling_rate=1). While if you had `[5000, 6200, 7850, 9010, ...]` it is rather a sampling_rate of 1000 points par second.

Let me know if that remains unclear!

[2017-11-08 12:03] DominiqueMakowski commented on #39
Wow, I don't know how help you with that 😕 I have never used a polar H19 chest strap and have no experience with "precomputed" RR intervals data such as yours. However, if I were you, I *think* I'll directly use the RR-interval column, sweep the Timestamp column under the carpet, and hope that the RR intervals are correct.

[2017-11-08 13:47] Eichhof commented on #38
Thank you very much for your answer.

Regarding the first option, would you recommend taking the max of the raw EDA signal or the max of the phasic component?

[2017-11-08 13:51] Eichhof commented on #40
Thank you for your answer. Now it is completely clear. ;)

[2017-11-08 13:52] #40 closed

[2017-11-08 14:01] DominiqueMakowski commented on #38
@Eichhof I would use the phasic component, especially if you're interested in emotional processing. However, it mostly depends on your needs as always 😸

[2017-11-08 14:08] Eichhof commented on #39
Thanks you for your answer. I will try to progress as you proposed.

[2017-11-08 14:15] Eichhof commented on #38
Thank you for the fast answer.

[2017-11-08 14:15] #38 closed

[2017-11-08 14:15] #39 closed

[2017-11-16 14:12] lamourj opened #43 "`ecg_find_peaks` imposes the use of an hamilton segmenter."
Instead of [this](https://github.com/neuropsychology/NeuroKit.py/blob/a000fa92c037948288ea37dff166f002eea7648b/neurokit/bio/bio_ecg_preprocessing.py#L241) which imposes an Hamilton segmenter, I would suggest to implement the [part present in `ecg_preprocess` doing the same job](https://github.com/neuropsychology/NeuroKit.py/blob/a000fa92c037948288ea37dff166f002eea7648b/neurokit/bio/bio_ecg_preproc

[2017-11-16 14:16] DominiqueMakowski commented on #43
Yep, sounds like a great idea 😄
Please do your magic ;)

[2017-11-17 09:45] Eichhof opened #44 "How to correctly doing baseline correction?"
Hi there

I have a quick question regarding baseline correction for HRV and EDA features. I'm extracting the following features (over a 10s window):

EDA: latency, rise time, number of peaks, mean and std of tonic and phasic
HRV: pnn20, rmssd, sdnn, sdss

I have also done a 5 minute baseline recording for each person at the beginning. I think there are several possibilities for baseline correction

[2017-11-17 09:59] DominiqueMakowski commented on #44
For Phasic EDA I'm not sure it actually makes sense to apply baseline correction. For HRV, I would rather correct for a window immediately preceeding your event. Then, the type of correction depends mostly on your hypotheses.

For example, I presented emotionally negative pictures to participants. Based on the litterature, I expected a higher heart rate deceleration upon stimulus presentation (let

[2017-11-17 10:20] Eichhof opened #45 "How to find non-responders for EDA?"
Hi there,

I have read that around 5% of the people are non-responders for EDA. How can they be identified (and removed from the experiment)? I'm thinking about looking at the number of peaks (a person who has almost no peaks after a stimulus might be a non-responder).

[2017-11-17 10:32] DominiqueMakowski commented on #45
There are, indeed, some people which autonomic responses are harder to measure. The proportion can vary (due to the quality of your aquisition device, their skin thickness, autonomic regulation or any other things you could think of).

One possibility is to keep them in the analyses. They should indeed, respond (non-respond, in that case) similarly in all conditions, adding uniformly distributed v

[2017-11-17 16:43] Eichhof commented on #44
Thank you for your answer. What do you mean by the [-1,0] window? So you had a 5s window beginning at the stimulus onset and over this window you searched the minimum and subtracted this minimum from the mean over this window?

[2017-11-17 16:46] DominiqueMakowski commented on #44
@Eichhof I substracted the minimum of the 0-5s window of the mean of the 1-second-long window *preceeding* stimulus onset.

[2017-11-17 16:58] Eichhof commented on #44
Now I've got it. ;) Did you take the mean of the heart rate over 1 seconds (I don't know how that mean could be calculated over such a small period)?

[2017-11-17 17:05] DominiqueMakowski commented on #44
NeuroKit computes by default a third order spline interpolation of the RR intervals to get a continuous signal of heart rate. You could even take the value of the this heart rate signal upon stimulus onset. But otherwise, you can compute your own heart rate using R peaks (in that case you'll need indeed a larger window)

[2017-11-17 17:33] Eichhof commented on #44
Makes sense. :)

[2017-11-17 17:33] #44 closed

[2017-11-17 17:33] #45 closed

[2017-11-19 17:53] Eichhof opened #46 "Window size for EDA and HRV"
Hi there,

I'm using EDA and HRV features. I'm extracting these features for each stimulus by positioning a window at the start of the stimulus (I think including data before the stimulus does not make sense).

What window size is recommended for EDA and HRV? I've heard that for EDA the response should appear within 5 seconds.

[2017-11-20 08:20] DominiqueMakowski commented on #46
For EDA, in affective neuroscience, a window between 1 and 7 s or 1 and 5 should be ok to catch the response.

For HRV, there is no unique rule as there are like dozens of HRV indices. Again, a good start is to reproduce what was done in similar papers.

[2017-11-20 13:16] Eichhof commented on #46
I have taken the usual features according to literature. HRV featues work much better than EDA featues (perhaps due to the sensor, I don't know). I also has to throw out a lot of the featues due to high correlation (especially for HRV).

Currently, I'm using a 10s window. When I shrink the window to 5s, accuracy drops to random level. But I still have to evaluate it separately for HRV and EDA.

Re

[2017-11-20 13:20] DominiqueMakowski commented on #46
yes, you can't estimate low or very low frequency domain HRV on 10 seconds. Well, try out a few things and find out what works better ;)

[2017-11-29 00:23] AnteriorInsula opened #47 "Very different orders of magnitude in ECG output"
Hi Dominique!

So I ran NeuroKit on some ECG data that I've collected, and I have vastly different orders of magnitude across participants for the output relating to power in the different frequency bands.  For most of my subjects, the numbers are in the tens of thousands; for others, it's in the hundreds.  I have the same sampling rate for all my subjects.  This doesn't affect the average heart r

[2017-11-29 07:44] DominiqueMakowski commented on #47
Dear @AnteriorInsula ,

Mmmh, I'm not really sure about that. First of all, you could normalize the powers to see if, despite their massive absolute differences, they are evenly spreaded accross your participants. You could have some outliers that for some reason cause those differences. Also, I believe that power, especially in low frequency bands, can vary depending on your  recording length.

F

[2017-11-29 11:13] vcuculo opened #48 "suggestion for pandas version"
It seems that in the code you refer to the method `DataFrame.rolling()` inserted since pandas version `>=0.18.0`. To avoid errors as :

it would be good to insert the minimum pandas version in setup.py or requirements.txt

[2017-11-29 11:45] DominiqueMakowski commented on #48
Thanks for the suggestion @vcuculo, the fix has been added in the [next version](https://github.com/neuropsychology/NeuroKit.py/pull/49). Let us know if you find any more bugs 😄

[2017-11-29 11:45] #48 closed

[2017-12-05 13:12] FabianHertwig opened #50 "eda_scr errors"
[gsr_slice.p.zip](https://github.com/neuropsychology/NeuroKit.py/files/1531215/gsr_slice.p.zip)
Hi,

I'm trying to extract Skin Conductance Responses from a EDA Signal, but I'm getting errors.

Here is some example code and the errors and I'm attaching the file.

[code]

[2017-12-05 13:29] DominiqueMakowski commented on #50
@FabianHertwig

Neurokit works better with pandas. Also, you should first process your signal before extracting features.

Try the following:

[code]
![ex](https://user-images.githubusercontent.com/8875533/33609494-99d4bf82-d9c8-11e7-8e6b-cfbcada60acb.png)

[2017-12-05 13:44] FabianHertwig commented on #50
Thank you. The example helps a lot. This should be in the docs somewhere!

Processing is rather slow. What is the best method to speed it up? Downsampling? I read somewhere that a 10hz samplerate should be sufficient. My signal has a samplerate of 512 hz.

[2017-12-05 13:49] DominiqueMakowski commented on #50
It is indeed a slow process, and downsampling can speed it up a bit. 10 Hz should in theory be sufficient, but I'd rather go for 50 or 100 (personal opinion tho).

Glad it helped, good luck 😉

[2017-12-05 13:49] #50 closed

[2018-01-04 20:15] lilinned opened #52 "[Bug] R_Peaks changed by ecg_hrv"
Following lines in function `ecg_hrv`:
`beats_times = rpeaks[1:]`
`beats_times -= beats_times[0]`
change values in rpeaks, which is a direct reference to the result returned by `ecg_process`.

In short, the bug causes the `ecg_process` to return incorrect r_peak indices.
One quick fix is to copy the sliced array:
`beats_times = rpeaks[1:].copy()`

[2018-01-05 08:55] DominiqueMakowski commented on #52
Wow, thanks for noticing that out 😃
This has been fixed in current version #53

Nice work, let me know if you find anything else!

[2018-01-05 08:55] #52 closed

[2018-01-19 14:50] zygimantus commented on #39
Did you put into account that the time unit for RR interval in Polar electronics is 1/1024 seconds?

[2018-04-13 10:42] DominiqueMakowski opened #59 "Change function name: discrtete_to_continuous -> interpolate"

[2018-04-13 10:45] DominiqueMakowski opened #60 "Add multiscale entropy slope / fit computation (Costa 2005)"
Maybe extract the best polynomial fit and get its coefs?

[2018-04-14 11:41] Sanjay1995 opened #61 "NeuroKit Warning: ecg_hrv(): Correlation Dimension. Error: NeuroKit warning: complexity_entropy_multiscale(): Signal might be to short to compute SampEn for scale factors > 0. Setting max_scale_factor to 0."
I am giving the data in form of 1D numpy array which is basically i, ii, iii, v1, v2, v3, v4, v5, v6, avr, avl, avf features from PTB database. I call this function nk.bio_process(ecg=ecg_signal[:,i],ecg_quality_model=None). It operates good on several columns but gives error after 2 iterations. Moreover, I have checked data is fine enough in all columns. can anyone please resolve the issue

[2018-04-14 11:51] DominiqueMakowski commented on #61
Hi @Sanjay1995, could you provide an example of your dataset? We'll try to fix the error. It might be related to a recent change in HRV computation (#58). Also linking @gattia just in case :)

[2018-04-14 12:34] Sanjay1995 commented on #61
@DominiqueMakowski

[2018-04-14 12:59] gattia commented on #61
Based on the print out it seems that the sample entropy is having problems on the very first pass at the full resolution scale for the multi-scale analysis (this should be the same as just running sample entropy on the full data). This shouldn't be a problem from anything done to the multiscale entropy function recently.

If I were debugging it, I'd be interested in what the data that is being pas

[2018-04-14 13:27] Sanjay1995 commented on #61
![screenshot from 2018-04-14 18-23-07](https://user-images.githubusercontent.com/18687010/38768721-7102e66a-4011-11e8-8c86-9e0f5313a16b.png)

[2018-04-14 13:27] Sanjay1995 commented on #61
this is how my one data column which I (i) as I mentioned above looks like

[2018-04-14 13:28] Sanjay1995 commented on #61
@gattia

[2018-04-14 13:32] Sanjay1995 commented on #61
thanks @DominiqueMakowski it is really useful, but tell me ecg_preprocess() and bio_process() works alike in my case?

[2018-04-14 13:40] DominiqueMakowski commented on #61
@Sanjay1995  yes bio_process is just a wrapper for processing multiple signals (ECG, EDA, EMG etc.) at once. Using bio-process with only ecg is similar to using `ecg_process`. However, `ecg_process` uses itself, the `ecg_preprocess` function that only does low level preprocessing (mainly extracting R peaks and not computing more complex indices such as HRV for example).

[2018-04-14 13:50] Sanjay1995 commented on #61
as I have already mentioned you that I am using dataset of PTB ecg dataset, and your library also inculcates it. But ecg_preprocess() also fails on some signals giving error (index 0 is out of bounds for axis 0) don't know why.

[2018-04-14 13:53] Sanjay1995 commented on #61
If I only process LEAD 1 (i in my data), then would it give features which ('T_Waves', 'Cardiac_Cycles', 'P_Waves', 'Q_Waves', 'HRV', 'R_Peaks') helps me in classification of heart disease class.

[2018-04-14 14:05] DominiqueMakowski commented on #61
yes, you should use only the column of the dataset corresponding to `i`. I used the full PTB dataset only to create a machine learning model that automatically classifies the provided lead signal and returns the probability of correct classification (a proxy of [signal quality](http://neurokit.readthedocs.io/en/latest/features/ecg_quality.html)). But for investigating ECG features using only LEAD

[2018-04-14 15:48] Sanjay1995 commented on #61
@DominiqueMakowski  thanks.

[2018-04-14 17:07] waleedkaimkhani commented on #61
@DominiqueMakowski I am getting same error ecg_process index 0 is out of bound error but I have the signal of length greater than 1

[2018-04-14 17:11] DominiqueMakowski commented on #61
@waleedkaimkhani could you provide a sample of your data? thanks

[2018-04-14 17:28] waleedkaimkhani commented on #61
my dataset is ptb ecg database. you can check it on https://www.physionet.org/physiobank/database/ptbdb/

[2018-04-14 17:33] DominiqueMakowski commented on #61
haha alright;

1) did you select correctly a **one dimensional** array OR **one** pandas' dataframe column (corresponding to LEAD 1)?
2) if yes, could you save (in txt, csv or json) this unique column or array and attach it here so I can check directly with the exact input you provide to neurokit's routines? Thanks 😅

[2018-04-14 17:36] waleedkaimkhani commented on #61
![screenshot from 2018-04-14 22 35 00](https://user-images.githubusercontent.com/31384546/38770972-42dcfe60-4034-11e8-915b-36611117b2c3.png)

[2018-04-14 17:39] DominiqueMakowski commented on #61
or send it to me dom.makowski@gmail.com

[2018-04-14 17:43] waleedkaimkhani commented on #61
@DominiqueMakowski   i have sent you mail

[2018-04-17 13:04] DominiqueMakowski commented on #61
@waleedkaimkhani your code should look like that

[code]

[2018-04-18 09:08] DominiqueMakowski opened #62 "EDA artifacts detection"
Looking for help to implement artifacts detection for EDA.

Some ressources:
- https://github.com/MITMediaLabAffectiveComputing/eda-explorer
- http://eda-explorer.media.mit.edu/info/

[2018-04-26 08:38] Eichhof opened #64 "Filtering for EDA"
Hi

Before applying the cvxEDA algorithm you are filtering the signal. According to the cvxEDA paper this is not necessary: "As a result, the method does not require pre-processing of the observed SC signal (e.g., bandpass filtering) nor post-processing of the inferred phasic and tonic components (e.g., to deal with negative neural activations)."

[2018-04-26 08:46] DominiqueMakowski commented on #64
@Eichhof as you can turn off the cvxEDA algorithm, a bit of filtering is indeed done by default. I had some good results with it (mainly to clean some serious artifacts to ease the subsequent cvxEDA computation).

However, if you have reasons to think this could be a bad thing (the cvxEDA *must* be run on raw data), I believe we could either change it (and add the option to select between "traditi

[2018-04-26 10:11] Eichhof commented on #64
Actually, I have just seen that in eda_process() you pass the raw (unfiltered and unsmoothed) signal to cvxEDA.

[2018-05-01 13:15] Eichhof opened #65 "Baseline correcting signal"
Hello

I have a 7 minute nature video recording at the beginning of my experiment which I would like to use as baseline for my EDA and RR signal. Currently I'm just using the whole 7 minutes or the last 3 minutes which can be a bad choice because it is possible that a participant relaxes at the beginning but after some minutes starts getting annoyed of the video. I thought about searching the mini

[2018-05-01 15:12] Eichhof commented on #65
Hi Dominique

Thank you very much for your fast answer, it is great. In detail, I'm using the following features:

EDA: Latency, rise time, recovery time, number of peaks, mean/max/min/std of phasic and tonic signal, mean/max/min of amplitude

RR: mean, sdnn, sdss, pnn50, pnn20 as well as high and low frequency features

Regarding baseline correction I thought about calculating the above features

[2018-05-05 21:36] Eichhof commented on #65
Do you have any thoughts on this?

[2018-05-07 07:28] DominiqueMakowski commented on #65
@Eichhof

For RRi, it often makes sense to correct for baseline as you're interested in RRi variations rather than absolute values. For example, let's say that the mean or minimum heart rate, during your experimental stimulus, is 80bpm. This could be a deceleration or a acceleration, depending on the baseline heart rate (if it was 100 or 60 bpm just before the stimulus).

To simplify, for EDA, the

[2018-05-07 21:37] Eichhof commented on #65
Hi Dominique

Thanks, that matkes sense. But when I look at the mean of the phasic component rather than the max amplitude then it makes again sense to baseline correct, am I right? I think the same should hold for the tonic component because it is not bounded to 0.

[2018-05-08 08:56] DominiqueMakowski commented on #65
I don't know, for EDA traditional outcomes are either the number of SCRs or their amplitude (peak max). I've personally never heard of averaging the signal

[2018-05-10 17:17] Eichhof opened #66 "Cubic interpolation for frequency domain"
Hello

In bio_ecg.ecg_hrv you interpolate the RR intervals to convert to continuous RR interval before extracting the frequency domain features. You are doing this using a third order (i.e. cubic) spline. I assume that the way you calculate the frequency features needs a continuous signal. Would it not also be possible to compute frequency features without interpolation?

However, why are you usin

[2018-05-11 08:55] DominiqueMakowski commented on #66
@Eichhof glad to see you're digging into the code :)

Cubic interpolation is the method described in the papers I read. I believe this has to do with the underlying physiological dynamics (the heart rate would change "smoothly" rather than linearly with abrupt changes). However, you might want to ask an HRV expert to be sure.

[2018-05-11 20:55] Eichhof commented on #66
Thank you for your answer. Do you have some of the papers at hand which you mentioned?

[2018-05-22 11:21] DominiqueMakowski commented on #66
@Eichhof maybe in one of those:

- Heart rate variability. (1996). Standards of measurement, physiological interpretation, and clinical use. Task Force of the European Society of Cardiology and the North American Society of Pacing and Electrophysiology. Eur Heart J, 17, 354-381.
- Smith, A. L., Owen, H., & Reynolds, K. J. (2013). Heart rate variability indices for very short-term (30 beat) analysi

[2018-05-31 12:49] Fegalf opened #68 "Hardcoded sampling rate?"
https://github.com/neuropsychology/NeuroKit.py/blob/30710dba4200f18d75a9faf54ea0a13e749248fc/neurokit/bio/bio_ecg.py#L580

If I understand correctly, this is an hard coded value of 1000Hz for "sampling_rate" variable. There seems to be many other instances of this elsewhere in the code.

[2018-05-31 13:51] DominiqueMakowski commented on #68
@Fegalf I think that it is because it was previously rescaled to a specific rate (for rejecting outliers in "seconds") for example here:

https://github.com/neuropsychology/NeuroKit.py/blob/30710dba4200f18d75a9faf54ea0a13e749248fc/neurokit/bio/bio_ecg.py#L504

It is then rescaled to "milliseconds" to compute the frequency domains indices (which need the same scale).

It's also possible that it's a

[2018-06-04 02:10] Fegalf commented on #68
@DominiqueMakowski  You were right! It's only a rescaling to milliseconds units. My bad :/ !

[2018-06-04 02:11] #68 closed

[2018-07-04 22:14] ursusaquarius opened #72 "AttributeError: module 'neurokit' has no attribute 'bio_process'"
I just wanted to try the features of your neurokit.
I´m using Anaconda installed on Windows 10.
The pip install of neurokit was successful.
Then I copied your following sample code into a Spyder window:

# Import packages
import neurokit as nk
import pandas as pd
import numpy as np
import seaborn as sns
# Download data
df = pd.read_csv("https://raw.githubusercontent.com/neuropsychology/NeuroKit.py

[2018-07-09 07:42] DominiqueMakowski commented on #72
@ursusaquarius Sorry for the delay, I've been away.

This error is indeed weird, as it suggests that 1) neurokit is *detected* (otherwise it would throw an "there is no module called neurokit" but 2) there neurokit's functions are not available.

Could you run the following to check the version:

[code]

thanks

[2018-07-11 14:45] ursusaquarius commented on #72
Hi Dominique,

running these lines created the following output in the console window:

import neurokit as nk
nk.__version__
Out[1]: '0.2.5'

Hope this helps to solve this issue I had.

Best regards
Reinhold

On Mon, Jul 9, 2018 at 9:42 AM, Dominique Makowski <notifications@github.com

[2018-07-11 14:52] DominiqueMakowski commented on #72
@ursusaquarius Ok.

Could you try running another function of the package? After you loaded the data, instead of running the bio_process function, try:

`bio = nk.ecg_process(ecg=df["ECG"], rsp=df["RSP"], sampling_rate=100)`

[2018-07-11 15:15] ursusaquarius commented on #72
now I ran this and also again the bio_process function without any error
and could also plot the results.
The only change I did meanwhile was updating Spyder ...
Funny and I don´t really understand ...
Any idea what happened from your side ?

On Wed, Jul 11, 2018 at 4:52 PM, Dominique Makowski <
notifications@github.com> wrote:

[2018-07-11 16:13] ursusaquarius commented on #72
my project is mainly about ECG and what information could be extracted, starting with raw data received from an ADC.
Would you know if Python could handle this fast enough eg on a ESP32 ?
Best regards

Outlook für iOS<https://aka.ms/o0ukef> beziehen

________________________________
Von: Dominique Makowski <notifications@github.com>
Gesendet: Mittwoch, Juli 11, 2018 17:23
An: neuropsychology/Neuro

[2018-07-12 07:12] DominiqueMakowski commented on #72
@ursusaquarius Sorry, I've no experience with that kind of stuff 😕

[2018-07-19 10:04] chongluyao opened #73 "NaN value in SCR_Recovery_Index"
Hi, I'm using the processed_eda function to extract feature from the raw eda in my research. However, I found that there were some NaNs in the "processed_eda['EDA']['SCR_Recovery_Indexes']". Why these NaNs appear? And how should I deal with these NaNs to get the final feature such as mean of recovery times in your suggestion?

[2018-08-10 15:00] zqkhan opened #74 "Question about SCR detection"
I'm using your Neurokit toolbox for SCR detection. Would it be possible to have the pseudocode or a detailed description of the 'makowski' method that you use for SCR detection in nk.eda_scr? and which method is used when method='fast', as in Gamboa, Kim or Makowski?

[2018-08-28 12:45] Eichhof opened #75 "Linear Trend in EDA"
Hey

Do you know if the cvxEDA algorithm already removes linear trends? I think linear trends should not be a problem for phasic components but for tonic components.

[2018-08-28 13:00] DominiqueMakowski commented on #75
@Eichhof It does implement some form of trend correction (I believe it's more complex than a simple linear detrend tho). This algorithm was built and tested on raw data.

[2018-08-28 13:06] Eichhof commented on #75
Thanks for your answer. So you mean cvxEDA or your library implements some form of trend correction?

[2018-08-28 13:10] DominiqueMakowski commented on #75
I mean that the cvxEDA algorithm (present in neurokit but mostly copied from [here](https://github.com/lciti/cvxEDA)) does itself everything necessary and can be used with raw data

[2018-09-06 20:52] boomsbloom opened #76 "compute_dprime function has n_hits, n_miss, n_cr, n_fa hard coded"
Hi--Thanks for developing this repo. I wanted to compare my own dprime/aprime calculations with ones from other repos and found the following:

https://github.com/neuropsychology/NeuroKit.py/blob/867655f84bf210626649bca72258af6a2b5a2791/neurokit/statistics/routines.py#L81

Should be an easy fix. Thanks!

[2018-09-07 08:45] DominiqueMakowski commented on #76
Indeed a bug that must have passed through the tests! thanks for noticing!!
Should be fix on master now

[2018-09-07 14:33] boomsbloom commented on #76
No worries! It also looks like there's a bug in the dprime calculation where hit_rate_adjusted is subtracted from hit_rate_adjusted rather than fa_rate_adjusted

https://github.com/neuropsychology/NeuroKit.py/blob/867655f84bf210626649bca72258af6a2b5a2791/neurokit/statistics/routines.py#L97

[2018-09-07 15:19] DominiqueMakowski commented on #76
Damn! lucky you're here :)

[2018-09-11 18:59] boomsbloom commented on #76
hah, no problem! Gonna close this issue now.

[2018-09-11 18:59] #76 closed

[2018-09-19 05:39] SIHHUA opened #77 "NeuroKit outdated installation"
Hello,I have some question,and need your help
I wanted to use Neuropython but it's still failed
I ran the code,and it made error

`error`
module 'biosppy.signals.ecg' has no attribute 'correct_rpeaks'

I checked the file 'biosppy.signals.ecg', there has function'correct_rpeaks',and already has attribute
Is file "bio_ecg_preprocessing" wrong or file "biosppy.signals.ecg"?

`code`

I tried to unista

[2018-09-19 06:56] DominiqueMakowski commented on #77
Related to [this issue](https://github.com/PIA-Group/BioSPPy/issues/44).

Don't worry, we'll fix this.

First of all, I have some questions:

- Did you already use python for anything else?
- Does the python you downloaded work, besides neurokit-related stuff (*i.e.,* Can you run `import numpy as np` and `np.mean([1,2,3])` in Spyder?

[2018-09-20 06:57] DominiqueMakowski commented on #77
@SIHHUA I have updated the neuropython version, could you try downloading it and running to see if it works? Here's the [link](https://neurokit.readthedocs.io/en/latest/tutorials/Python.html) thanks!

[2018-09-25 19:49] jaros1024 opened #78 "TypeError when analysing EDA"
Hello, I have a problem when trying to analyse EDA. Here is the stacktrace:
`File "C:\Users\jaros1024\PycharmProjects\Project1\lib\new_gsr.py", line 13, in __init__
    self.data = nk.eda_scr(y, sampling_rate=freq)
  File "C:\Users\jaros1024\PycharmProjects\Project1\venv3\lib\site-packages\neurokit\bio\bio_eda.py", line 399, in eda_scr
    peaks, _ = biosppy.tools.find_extrema(signal=signal, mode=

[2018-09-25 20:15] DominiqueMakowski commented on #78
@jaros1024 That's weird indeed, I'll look at it :)
Could you tell me what is your version of NeuroKit and Biosppy?

[2018-09-25 20:32] jaros1024 commented on #78
I just noticed that NeuroKit version 0.2.0 installed, but just updated to 0.2.7 and the problem is still the same. Biosppy is 0.6.1 - so I haven't changed anything.

[2018-09-25 20:54] DominiqueMakowski commented on #78
Great, could you provide a sample of data and a reproducible code snippet so that I can reproduce it and dig into it? Thanks!

[2018-09-26 20:16] jaros1024 commented on #78
Sure! See the attached file. It's just a pickle dump, so you can open it like:
`import pickle

def open_file(in_file):
    with open(in_file, 'rb') as fp:
        itemlist = pickle.load(fp)
        return itemlist`
[sample.zip](https://github.com/neuropsychology/NeuroKit.py/files/2421413/sample.zip)

[2018-09-27 08:06] DominiqueMakowski commented on #78
It works for me with this code:

[code]
![figure_1](https://user-images.githubusercontent.com/8875533/46131466-f5f2f700-c23b-11e8-91d9-b80f93252347.png)
[code]

![figure_1-1](https://user-images.githubusercontent.com/8875533/46131732-b678da80-c23c-11e8-803c-5777ffd462b4.png)

However, make sure to adjust correctly your sampling_rate (I set to 100 for illustrative purposes)

[2018-09-28 17:02] jaros1024 commented on #78
Thanks! Do you think the error might be caused by wrong sampling_rate? To be honest, my data is so poorly documented that I won't be surprised if the sampling rate in documentation is wrong :)

[2018-09-30 15:50] SIHHUA commented on #77
@DominiqueMakowski
Did you already use python for anything else?>>No
Does the python you downloaded work, besides neurokit-related stuff (i.e., Can you run import numpy as np and np.mean([1,2,3]) in Spyder? >>Yes，it printed 2.0,and I tested other code which could run.

[2018-10-01 07:18] DominiqueMakowski commented on #77
At what moment does this error appear? Could you provide some reproducible code / steps required to reproduce this error?

[2018-10-01 15:19] SIHHUA commented on #77
I opened WinPython Command Prompt.exe to install NeuroKit, as shown below

![image](https://user-images.githubusercontent.com/43202942/46297789-23d79300-c5d0-11e8-8862-fb5aa73db127.png)

But it could install Neuropsydia successfully

[2018-10-02 09:09] boegel opened #79 "missing recent releases (> 0.2.0)"
Recent versions are not being published on PyPI anymore (see https://pypi.org/project/neurokit/#history, most recent there is 0.2.0 which was added Sept 5th 2017), and new versions are not tagged here on GitHub either (see https://github.com/neuropsychology/NeuroKit.py/releases).

Based on current `master`, it seems like the latest version is 0.2.7 which corresponds to commit bba8ed9 (since that's

[2018-10-02 12:10] DominiqueMakowski commented on #77
@SIHHUA That's strange indeed, what is your python version?

Could you try, from [here](https://neurokit.readthedocs.io/en/latest/tutorials/Python.html), installing the neuropython distribution (where neurokit is already installed)? Does this work?

[2018-10-02 12:35] DominiqueMakowski commented on #79
@boegel You're absolutely right, I'll try to do the requested updates ASAP

[2018-10-02 14:43] boegel commented on #79
@DominiqueMakowski Thank you very much!

Can you clarify which commit should be considered version 0.2.7?

[2018-10-02 14:48] DominiqueMakowski commented on #79
All commits done after the version bump should be considered 0.2.7 (in spite of the merging of a pre-0.2.7 branch issue)

[2018-10-02 15:13] boegel commented on #79
OK, so I'll go with current `master` (5dfa41d) as 0.2.7.

[2018-10-02 16:21] SIHHUA commented on #77
@DominiqueMakowski
Python version is Python 3.6.6
Yes,I downloaded Neuropython.zip
![image](https://user-images.githubusercontent.com/43202942/46361704-e0992500-c6a0-11e8-9e8f-95e922b81aff.png)
And followed hard steps
![image](https://user-images.githubusercontent.com/43202942/46361774-07575b80-c6a1-11e8-8bcd-4a4d2dcbac9b.png)
It didn't work,because neurokit can't download successfully >>  No modu

[2018-10-03 18:38] vinhdh opened #80 "DLL load failed: The specified module could not be found."
I used pip to install neurokit-0.2.7 followed by the installation guide on windows 10 x64 and python 3.7.0. The installation was successful but I encountered this error when importing the library as "import neurokit as nk".
I'm a newbie so I really appreciate every help to fix this.

DLL load failed: The specified module could not be found.
  File "C:\users\vinhd\desktop\py\&lt;frozen importlib._b

[2018-10-07 08:53] dicobrazz opened #81 "ecg_process(): Sequence too short to compute heart rate - optimising for short signal"
Hello,

We are trying to work with some of the researchers from a hospital and there signal samples are at about 2.4 seconds, which is too short. I modified the "interpolate" function and changed k to 2 in signal.py It made the signal run, but still gives ecg_process(): Sequence too short to compute heart rate and therefore, setting heart_rate to np.nan

How could be modified for a short signal? T

[2018-10-08 14:49] DominiqueMakowski commented on #80
Hi @vinhdh, sorry for the delay I've been swamped at work. Well, could you provide some details, for example on "the installation was successful" (what makes you say that). Also, do other commands work properly? eg:

[code]

[2018-10-08 15:01] DominiqueMakowski commented on #81
Hey @dicobrazz.

Short answer is, not really (to my knowledge) ^^. Within such time ranges, I expect you to have around 3 to 4 heart beats per epoch.  Let's say 4 for the sake of illustration. Thus, you can only compute 3 different momentary heart rates (b1-b0, b2-b1...). Hence, while you could compute the average (of these several momentary hear rate values) over the whole window, computing the "

[2018-10-09 03:13] vinhdh commented on #80
Hi @DominiqueMakowski, I used VS Code on windows 10 to install neurokit by following command:
`pip install https://github.com/neuropsychology/NeuroKit.py/zipball/master`

This is the detail of the installation's progress:

[https://i.imgur.com/YJmqb09.png](url)

Everything's still ok until I added this line:
`import neurokit as nk`

And I encountered the error as I mentioned
[https://i.imgur.com/D

[2018-11-05 16:38] NachoCasta commented on #80
Hello, I have the same issue, is there a known fix or workaround?

[2018-11-05 17:59] DominiqueMakowski commented on #80
@vinhdh @NachoCasta to be honest I don't get it. If the package gets successfully installed, it should successfully get imported. @NachoCasta are you also using visual studio?

[2018-11-06 07:51] DominiqueMakowski commented on #80
@NachoCasta Awesome, so neurokit worked then?

[2018-11-06 09:37] NachoCasta commented on #80
Yes! The problem was cvxopt which needs numpy+mkl to work.

Ignacio Castañeda

[2018-11-06 10:39] DominiqueMakowski commented on #80
Awesome! I'll close the issue then 😄 Thanks a lot @NachoCasta for digging into it and reporting the solution!

[2018-11-06 10:39] #80 closed

[2018-11-07 04:11] vinhdh commented on #80
Installing numpy+mkl fixed this error. Now it works very well. Thank you @NachoCasta

[2018-12-23 13:29] ucohen opened #82 "python 2 compatibility: make bio_eda compatible"
in order to have bio_eda compatible, in **cvxEDA** need to change:
    frequency = 1/sampling_rate
to
    frequency = 1./sampling_rate

[2018-12-23 16:04] DominiqueMakowski commented on #82
@ucohen thanks for pointing this out. Would you like to make a small PR with this change yourself :) ?

[2019-01-04 08:40] DominiqueMakowski commented on #82
Fixed by #83

[2019-01-04 08:40] #82 closed

[2019-01-09 19:51] renatosc opened #84 "Allow custom markers in nk.plot_events_in_signal function"
Right now, function [nk.plot_events_in_signal](https://neurokit.readthedocs.io/en/latest/_modules/neurokit/signal/events.html#plot_events_in_signal) always uses a vertical line to show the events in the signal. That sometimes makes it difficult to precisely see the events position in the signal.

Allowing us to specify custom markers (in the same way that we can now specify custom colors) would pr

[2019-01-10 01:21] DominiqueMakowski commented on #84
@renatosc Thanks for the suggestion, do you have any idea about what types of markers you'd like to see?

[2019-01-10 03:06] renatosc commented on #84
https://github.com/neuropsychology/NeuroKit.py/pull/85

[2019-01-12 03:03] renatosc opened #87 "Strange filter order expected by ecg_preprocess"
I was having a hard time to have nk.ecg_preprocess to filter my signal data using a "**butter**" filter of **order 4**. Looking the source code I see that the function is multiplying the order parameter by the sampling rate:
`[order = int(filter_order * sampling_rate)](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/bio/bio_ecg_preprocessing.py#L92)`

So, after I passed the ord

[2019-01-12 08:35] DominiqueMakowski commented on #84
All merged ;) thanks again

[2019-01-12 08:35] #84 closed

[2019-01-12 08:45] DominiqueMakowski commented on #87
I guess this part was based on [biosppy](https://github.com/PIA-Group/BioSPPy/blob/master/biosppy/signals/ecg.py#L70), that multiples 0.3 by the sampling rate internally (hence the 0.3 as a default order).

However, this might be correct with only particular filters (guess I never think about this as I never had the occasion of using different filters). Maybe we could allow the order parameter to

[2019-01-21 06:20] hantekno commented on #72
I get same issue while using it in spyder (based on anaconda, in windows 10), module neurokit has no attribute bio_process. Even im trying to check its version, it still getting the same notification (no atribute __version__). Can you provide the solution for this issue? thanks dominique

[2019-01-21 06:50] DominiqueMakowski commented on #72
@hantekno, could you confirm that the command `import neurokit as nk` works?

[2019-01-21 07:09] hantekno commented on #72
@DominiqueMakowski yup, the command work, but still the attribute doesnt work. Actually, i tried it on jupyter notebook, and its work. If you're not busy, can i ask you some question via email? i'm a student, totally new in python and ecg, but i want to learn it, thank you so much

[2019-01-21 08:56] DominiqueMakowski commented on #72
@hantekno If your questions are not confidential, I would prefer you to open a [new issue](https://github.com/neuropsychology/NeuroKit.py/issues) so it can help others 😉

[2019-01-21 08:56] #72 closed

[2019-01-21 17:28] Fegalf opened #88 "Bug in eda_scr using slow method"
Hi,

I think there might be a problem in `eda_scr ` function when used with `method='slow' ` parameter. Here's a MWE (along with some data [eda_example_1000hz.zip](https://github.com/neuropsychology/NeuroKit.py/files/2779874/eda_example_1000hz.zip))  and the traceback of the resulting error:

[code]
Which, in my case, raises the following error:

[code]
It seems that this problem is caused by an i

[2019-01-22 09:09] #88 closed

[2019-03-11 20:32] renatosc opened #92 "Peaks information in cardiac cycles"
Hi Dominique,

The ecg_process today returns the peaks (P,Q, R, ...) in reference to the sample number, so I can easily plot both the entire ECG and the peaks.   Since the Cardiac Cycles returned by ecg_process starts at the same point (zero, making it possible to have that plot of all cycles on top of each other), the peaks info returned cannot be used directly.  I was wondering if there is any b

[2019-03-12 00:41] DominiqueMakowski commented on #92
@renatosc Yes, I would say that this would work. However, an even simpler workaround would be to subtract from each peak from the signal the index of the corresponding R peak. This way, all of the peaks would be in reference to *their* R peak, and you could quite easily plot them all together?

Or indeed, you could also re-scale these deltas and add them in the cardiac_cycle data? But the general

[2019-03-12 03:15] renatosc commented on #92
@DominiqueMakowski , thanks for the feedback. I ended up just using the delta in order to avoid having to deal with negative values. I will see later how can I added that to NK and make a pull request.

[2019-03-12 03:15] #92 closed

[2019-03-12 05:10] renatosc commented on #87
Sorry for taking too long to reply. I looked the biosppy code and it appears to me that they added that 0.3 multiplication line just as simplification to internally calculate a order based on the sampling rate provided since the **order** is not a parameter itself.  In our case, the **ecg_preprocess** accepts order as a parameter (**filter_order**) and have it multiplied by the sampling rate does

[2019-03-12 05:29] DominiqueMakowski commented on #87
Hum, the idea was just to expose the order parameter (further adjusted based on the sampling rate). Instead of being hard-coded to 0.3 as biosppy, it is set as default to 0.3 but can be changed if need be. To be honest, I never had to change this parameter, but I guess that for some other filter types it could make sense to change it.
Do you know how we could change it for the better?

[2019-03-12 05:49] renatosc commented on #87
The problem is not the default value, but what you do with the value after:
`order = int(filter_order * sampling_rate)`

Because right now if I enter, let's say,  filter_order = 4, the code will actually use 4 * sampling rate for the order, which is not intuitive from the outside.

[2019-03-12 05:55] DominiqueMakowski commented on #87
Right, would you suggest then improving the documentation (specifying that the order value is further multiplied by the sampling rate), or changing the way it is handled internally?

[2019-03-12 05:59] renatosc commented on #87
That is actually the question that I asked you...hehe. The old dilema of making a breaking change or not...  I think for now the documentation note would be enough. That way we don't create a incompatible update without previous notification.

[2019-03-12 14:38] MarcoFilippi opened #93 "Python 2.7: TypeError: unbound method materials() must be called with Path instance as first argument (got nothing instead)"
`import neurokit as nk
import pandas as pd
import numpy as np
import seaborn as sns

df = pd.read_csv("https://raw.githubusercontent.com/neuropsychology/NeuroKit.py/master/examples/Bio/bio_100Hz.csv")
bio = nk.bio_process(ecg=df["ECG"], sampling_rate=100)
nk.z_score(bio["df"]).plot()`

Trying to run the template I got the following error message:

  File "neuroTest.py", line 10, in <module>
    bi

[2019-03-12 14:58] DominiqueMakowski commented on #93
@MarcoFilippi, it seems like this issue is created when neurokit is trying to load the sklearn model (saved using sklearn for python 3). I am not sure that I can fix it, as it seems tied to scikitlearn 😕  Maybe try updating your version of scikit-learn?

The goal is being able to load [this file](https://github.com/neuropsychology/NeuroKit.py/tree/master/neurokit/materials)... Does it work if you

[2019-03-12 16:10] MarcoFilippi commented on #93
@DominiqueMakowski , I updated to scikit-learn-0.20.3 and I tried to load the file with the command you suggested! Now the message I received is the following:

  File "classes.py", line 3, in <module>
    model = sklearn.externals.joblib.load('./heartbeat_classification.model')
  File "/home/sisu/anaconda2/lib/python2.7/site-packages/sklearn/externals/joblib/numpy_pickle.py", line 598, in load

[2019-04-03 10:44] FrancoisCosta opened #94 "PPG compatibility"
Hi,
Could this toolbox be used to obtain HRV measures from a  PPG signal rather than ECG?
Thanks!

[2019-04-04 00:42] DominiqueMakowski commented on #94
Dear @FrancoisCosta, while this toolbox could definitely be used to process PPG, the routines tailored for that are not currently implemented. Truth is, I had this question several times, so I guess this would be a useful addition. Unfortunately, I've never had the time to implement it myself (and won't have in the near future) 😕

So if someone is willing to give it a try, I would be more than hap

[2019-06-01 18:17] anandketki95 opened #96 "TypeError: 'str' object is not callable"
I am getting type error while using bio_process.
Below is my code.
"i = 1
bio = nk.bio_process(ecg=df_respiban[i][:]['ECG'],rsp=df_respiban[i][:]['RESP'], ecg_quality_model=None, ecg_filter_frequency=[1,35], sampling_rate=100)"

Error is as follows,

~\Anaconda3\lib\site-packages\nolds\measures.py in sampen(data, emb_dim, tolerance, dist, debug_plot, debug_data, plot_file)
    762     # successive

[2019-06-03 00:23] DominiqueMakowski commented on #96
Hi @anandketki95, could you provide or send me your data or a sample of it so I can try reproducing the error? Thanks!

[2019-06-25 15:00] ArnaudSteinmetz opened #97 "I can't see my trigger channel on Neurokit"
Hi, i'm both new in python and data processing.
I have a EDA file from Biopac ( acq). And when i open it with neurokit it displays only 2 channels:
-one is the  EDA response
-the second is the digital input but equal to 0 all along.
The thing is, it's supposed to have 8 triggers.
When i try read it with bioread, the 8 triggers are detected.
Can someone know why?

Regards,

Arnaud

[2019-06-25 15:45] DominiqueMakowski commented on #97
Hi @ArnaudSteinmetz, welcome to github ☺️

Hum that's weird, because the function to read acknowledge file in neurokit uses bioread. During recording, do these channels actually show on their digital channel (like `____|---|____|----|___`)?

Worst case scenario, if you manage to retrieve the timings from bioread, you can still add them a posteriori

[2019-06-26 07:20] ArnaudSteinmetz commented on #97
hi, the thing is i'm in intership and i didn't do the recording.
But when i looked at the data on biopac i saw the triggers. I don't remember the exact shape they had.

But i want to proceed anyway is that hard to get the timings from bioread?
i recontact you when i know more about that recording ( it may be in some time i'll be away for a few days)

[2019-06-27 02:51] DominiqueMakowski commented on #97
Could you provide me with some example file and a reproducible code so I can reproduce the issue? Thanks!

[2019-06-28 08:10] ArnaudSteinmetz commented on #97
Hi, @DominiqueMakowski ,

Here is the figure i get with pandas after the extraction with neurokit.

![plot_for_github](https://user-images.githubusercontent.com/52210064/60327392-f9164180-998b-11e9-8402-9e4070798f8b.png)
[Sujet12_PasT.zip](https://github.com/neuropsychology/NeuroKit.py/files/3338149/Sujet12_PasT.zip)

But when i read it with bioread, it gives me this
"AcqKnowledge file (rev 128):

[2019-07-08 19:08] aravali324 commented on #96
Hello , When i run the default  example provided in documentation,  i am facing the same problem

[2019-07-10 23:01] jdkent opened #98 "eda_process: band, order, and frequency are hardcoded"
Thanks for making this awesome tool, I've recently found this and this will certainly make my life easier.

I have a request from my PI to do bandpass filtering, but with the current options this is unavailable.
I had a question about why band, order, and frequency were hard coded.
I can submit a pull request implementing this functionality if you are in support of adding this, or if you could pro

[2019-07-11 20:40] #74 closed

[2019-07-15 14:18] matrach commented on #96
Hi,

the issue is because nolds deprecated passing ``dist`` as string to ``measures.sampen`` and removed it in `0.5.0`.
The issue is located [here](https://github.com/neuropsychology/NeuroKit.py/blob/master/neurokit/signal/complexity.py#L145]). Just pass ``nolds.measures.rowwise_chebyshev`` instead.

As a quickfix, one may install an old version of nolds:
``pip install 'nolds<0.5'``

[2019-08-28 23:49] sangfrois opened #100 "preprocessing ecg recorded in fMRI setting"
Hi @DominiqueMakowski ,

Hope your postdoctoral position in Singapore is great! Remember I emailed you a few months ago!

Listen, I've been studying your package since past january now, and seems to me like there is no reliable/robust way to handle gradient artefacts with NK... So I reviewed the literature about ECG signal processing and found how I could qualify and correct for false detection wi

[2019-09-03 19:02] hcp4715 opened #101 "AttributeError: module 'sklearn.externals'"
Dear experts,

I really happy that there is a python package for psychophysiological data!

I am trying to run the tutorial codes (https://neurokit.readthedocs.io/en/latest/tutorials/Bio.html) on my PC, but encountered this error.

Seems that I used an newer sklearn package, which no longer has 'joblib' module, but not very sure. Your help will be highly appreciated.

Here is information about my

[2019-09-13 20:31] sangfrois commented on #101
Hey!

have you imported sklearn ?
it should look like this :
`from sklearn.externals import joblib
 bio = nk.bio_process(ecg=df["ECG"], rsp=df["RSP"], eda=df["EDA"], add=df["Photosensor"], sampling_rate=100)

# plot the processed dataframe, normalizing all variables
 nk.z_score(bio["df"]).plot()`

of course, you have to import Neurokit as nk and pandas as pd to use the functions and play around wi

[2019-09-14 03:43] louis-youpling commented on #101
For an easy way to fix this is to reverse to an earlier version of scikit-learn
`pip install scikit-learn==0.20.0`

A more definite would be to remove references to externals.joblib here
https://github.com/neuropsychology/NeuroKit.py/blob/c9589348fbbde0fa7e986048c48f38e6b488adfe/neurokit/bio/bio_ecg.py#L357

and use joblib directly
[code]

[2019-09-14 04:10] DominiqueMakowski commented on #101
I am super sorry about all this, as I currently don't have time to fix the module as much as I'd like it! Thanks **a lot** for all the people finding the workarounds 😍 💪

In fact, as I already mentioned somewhere, I plan on starting a massive overhaul, i.e., reimplementing some of the best stuff from neurokit almost from scratch, soon. As the package's scope has become quite fuzzy over the years,

[2019-09-14 20:58] hcp4715 commented on #101
Thanks, Louis. I think maybe install an early version will solve this.

[2019-09-14 21:05] hcp4715 commented on #101
Dear François,

Thanks for your response, I tried, but I guess the problem is the version of sklearn ;-).

Because my data is mainly skin conductance, so I directly used eda process function, without testing bio_process further. BTW, the EDA data are processed very well.

[2019-10-14 20:56] windowshopr opened #102 "Not understanding ecg_wave_detector and plot_events_in_signal?"
Hey,

I'm having an issue with these two functions. I am using the below code:

[code]
...where 'data' is the ecg signal array, and sample rate is 250. I kept receiving Key Errors for:

ecg_waves["Q_Waves_Onsets"]
ecg_waves["S_Waves"]
ecg_waves["T_Waves_Onsets"]
ecg_waves["T_Waves_Ends"]

...so I took them out of the above code, and removed 4 colours to compensate for their loss, but nothing plots

[2019-10-24 11:01] ighoyotaben opened #103 "Neurokit tutorial producing dissimilar results"
Hi All

I am planning to use the Neurokit biosignal processing toolbox for feature extraction and epoch generation for my experiment EDA, ECG, EMG data.

However i first tried the example provided with the sample datasets but i observed the followed isssues

The results from the epoch generation are completely different  from what is shown on the tutorial Web page.
For example I see values like 11

[2019-10-30 05:06] DominiqueMakowski commented on #103
Hi @ighoyotaben

Sorry for that error, I am not sure what caused it, I've been staying away from neurokit for a few years but I'll be slowly returning back to fix and improve it. I'll keep you updated!

[2019-12-02 23:53] louis-youpling commented on #101
Some changes suggested there: 06890a43f8d520160b246d55c400940d6808ff2a

[2020-01-18 00:25] femicarrington opened #105 "Bio_process error with sampling rate of 2000"
Hi there,

I am using Neurokit to analyze EDA data for the first time and I'm having an issue with the bio_process function.  My data was acquired with 2000 samples/sec. When I set the sampling rate to 1000, there is no issue, however, when I set the sampling rate to 2000 samples/sec I get an error:
ValueError: operands could not be broadcast together with shapes (20704,) (20627,).

Here is the co

[2020-01-23 01:56] DominiqueMakowski commented on #105
Hei @femicarrington Sorry for the late answer! As you know, we are currently re-implementing, fixing and improving a lot of NeuroKit's content in the so-called [neurokit2](https://github.com/neuropsychology/NeuroKit), which ultimately aims at to replace neurokit1.

Could you try installing the neurokit2 from Github and run [`eda_process`](https://github.com/neuropsychology/NeuroKit#electrodermal-a

[2020-01-27 08:50] EstherJohanna commented on #105
Hi Dominique,

I had exactly the same problem and eda_process in neurokit2 works also with a sampling rate over 1000!
:)

[2020-01-27 08:53] DominiqueMakowski commented on #105
@EstherJohanna glad to hear that! We are in the process of re-implementing most ofthe features from nk1 to nk2, so stay tuned :)

[2020-02-13 10:35] advent-embedded opened #106 "How to compute QRS duration time period??"
I could able to compute the indices of P, Q R, i need the duration of QRS, to arrive this i need S index of the wave. i there a in-built routine which does this

[2020-02-13 12:26] advent-embedded commented on #106
with version 0.2.8 i get empty list for all peak and onset Values, with 0.2.0 i get only peak values for T, P & Q. is ter any fix?

[2020-02-14 02:59] DominiqueMakowski commented on #106
@advent-embedded While I cannot really say for neurokit1, as the QRS delineation algorithm is quite weak. That being said, we are currently in the process of implementing a new and more robust algorithm for delineation in [neurokit2](https://github.com/neuropsychology/NeuroKit), which should be ready in a few days (hopefully @Tam-Pham).

I will transfer this issue over to NK2 and will update you w

[2020-02-14 12:15] kannan-sosaley opened #107 "How to compute QRS duration interval??"

[2020-02-14 12:18] kannan-sosaley commented on #107
ecg_wave_detector function only returns the indices of T, P and Q wave indices not the onset and end of wave indices. i tested both 0.2.0 and 0.2.8 version of the code.

[2020-05-25 04:58] pramod-katti opened #108 "How to change plot marker in ecg_delineate?"
I am working on PQST detection as documented in the examples. I wanted to know how to change the detected point marker on the plot? Currently it displays filled circle. I wanted to change it to a small "x" or "." pixel dot.

[2020-05-25 06:06] zen-juen commented on #108
Hi there!
`ecg_delineate()` uses an internal function `_ecg_delineate_plot()` to generate these plots, which means to change the detected point marker you would have to change the source code. This is the code for the plotting function:

[code]
The line of code that plots and labels the points is this one:
```ax.scatter(event_data.Time, event_data.Signal, label=feature_type, alpha=0.5, s=200)```

[2020-08-10 17:38] saakshipathania opened #109 "Memory Error in nk.signal_decompose(x, method="ssa",n_components= 5)"
memory error indicated in the line
-> 1562         u, s, vh = gufunc(a, signature=signature, extobj=extobj)

I am dealing with heart beat interval signals with length in the range(16-41000)

![Capture](https://user-images.githubusercontent.com/66521888/89812201-63bd1900-db5d-11ea-91d6-20e45245ec87.PNG)

[2020-10-07 02:16] vitarfast opened #110 "How to solve this error??"
hi, i'm planning to use a neurokit example. But I am not able to follow the example due to an error. How can I fix it?
I changed the scikit-learn version 0.23.2 to 0.20.1 to fix the error, but error was still existed.

Please look at below code and error message.

# Import packages
import neurokit as nk
import pandas as pd
import numpy as np
import seaborn as sns

# Download data
df = pd.read_csv(

[2020-10-07 02:20] DominiqueMakowski commented on #110
Hi @vitarfast, I'd suggest using NeuroKit2 as this one is not maintained anymore. Find more info at https://github.com/neuropsychology/NeuroKit

[2020-11-19 16:52] anniezhi commented on #101
I have tried this, and the following error appears:
[code]

[2020-11-20 03:36] DominiqueMakowski commented on #101
@anniezhi please consider using NeuroKit2 (https://github.com/neuropsychology/NeuroKit) which should work ☺️

[2020-11-20 03:36] #101 closed

[2021-02-08 18:30] danibene opened #111 "Computing HRV indices with missing data"
Hi!

I would like to compute HRV indices for heartbeat data, given peaks that I have already detected (so not e.g. raw ECG data).
[code]

I understand that NeuroKit takes a dataframe containing the samples, with each peak being 1 and the other samples being 0, for example:

[code]

Now in my case, there are some anomalies in the peak detection that I would like to discard for the HRV analysis. Is

[2021-02-08 21:52] danibene commented on #111
Moved here: https://github.com/neuropsychology/NeuroKit/issues/412

[2021-02-08 21:52] #111 closed, assigned to nobody